
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type='text/css' href= "{% static 'css/bootstrap.css' %}">
    <link rel='stylesheet' type='text/css' href= "{% static '/css/main.css' %}">
    <title>Document</title>
</head>
<body>
    
    <div>
    {% include "navbar.html" %}
    {% block content %}
    {% endblock %}
        <div class="postpage">
            <a href=""> 
                <div>
                    <img class="propic" src="../static/images/iss.JPG" alt="" style="margin-right: 10px;">
                </div>
                <h5>Ynng</h5>
                <p> {{i.author}} </p>
            </a>

            <h3>
                Muisc
            </h3>

            

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> 
                
                At modi quasi repudiandae. Odit magnam quibusdam nobis <br>
                qui maiores quae assumenda nam nostrum voluptate asperiores.<br>
                Aliquam blanditiis saepe perferendis commodi cum.<br>
            </p>
            <p> 
                <a href=" "> #muisc #tag #kgj </a>
            </p>
        </div>

    </div>
   
</body>
</html>