
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href= "{% static 'csss/main.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'csss/bootstrap.css' %} ">
    <title> signup</title>
</head>


<body>
  {% include "navbar.html" %}
  {% block content %} 
  {% endblock %}
  <form method="POST" action="">
    {% csrf_token %}
    
    <div class="card box container" >
      <h2 class="card-title"> Welcome to DEV </h2>
      <p class=""> <a href="#"> DEV </a> is a community of 459,187 amazing developers.</p>
      <h6 class="rext"> UserName <br>
        {{form.username}} </h6>
      <h6 class="rext"> Email <br>
        {{form.email}}</h6>
      <h6 class="rext"> Password <br>
        {{form.password1}} </h6>
      <h6 class="rext"> Re-enter Password <br>
        {{form.password2}} </h6> <br>
      <input type="submit" value="Create Account">
      <p>Already have an account?
        <a href="{% url 'loginPage' %}">Login</a>
      </p>
    </div>
    <script>
      var form_fields = document.getElementsByTagName('input')
      form_fields[2].placeholder='Username';
      form_fields[3].placeholder='Email';
      form_fields[4].placeholder='Enter password';
      form_fields[5].placeholder='Re-enter password';
    
    for (var field in form_fields){
      form_fields[field].className += 'form-control'
    }
    </script>

  </form>
  {{form.errors}}
</body>